* {
	margin:0;
	padding:0;
	font-family:sans-serif;
}
body.dark label {
	background-color:white;
}
body.dark {
	background-color: black;
	transition: 0,9s;
}
.dark-mode {
	position: relative;
	top: 45px;
	right: 0px;
}
.wrapper{
	min-height:500px;
	margin:0 auto;
	width:1000px;	
}
.profil ul li {
	list-style:none;
}
.header {
	width:100%;
	height:100px;
	border:2px solid;
	background-color:#00203FFF;
} 
.logo {
	width:80px;
	height:70px;
	border:0px solid;
	margin-top:-1%;
	float:left;
}
.logo img {
	width:160%;
	height:120px;
}
.title{
	width:78%;
	height:50px;
	border:0px solid;
	margin-top: 2%;
	margin-left:10%;
	float:left;
	font-family:calibri;
	font-weight:bold;
	font-size:40px;
	line-height:50px;
	color:white;
}
.profil {
	width:100%;
	height:30px;
	border:2px solid;
	text-align:center;
	line-height:30px;
	font-family:calibri;
	font-weight:bold;
	background-color:transparent;
}
.profil ul li {
	list-style:none;
}
.content {
	width:100%;
	height:500px;
	border:2px solid;
	overflow:hidden;
	background-color:transparent;
}
.left-side {
	width:20%;
	min-height:500px;
	border:0px solid;
	float:left;
	margin:1%;
	background-color:#00203FFF;
}
.gs {
	width:95%;
	height:50px;
	border:1px solid;
	float:left;
	margin:2%;
	background-color:#6b7b8c;
}
.gs img {
	width:20%;
	height:50px;
	margin:1%;
	float:left;
}
.gs-title {
	font-size:24;
	float:left;
	line-height:50px;
	margin:1%;
}
.gj {
	width:95%;
	height:50px;
	border:0px solid;
	float:left;
	margin:2%;
	background-color:white;
}
.gj img {
	width:20%;
	height:45px;
	margin:1%;
	float:left;
}
.gj-title {
	font-size:24;
	float:left;
	line-height:50px;
	margin:1%;
}
.menu {
	width:53%;
	min-height:500px;
	border:0px solid;
	float:left;
	margin:1%;
	background-color:#6b7b8c;
}
.md1 {
	width:95%;
	height:85px;
	border:0px solid;
	float:left;
	margin:2%;
	background-color:white;
}
.md1 img {
	width:30%;
	height:100%;
	float:left;
}
.md1-title {
	font-size:12;
	float:none;
	margin:1%;
}
.md12 {
	width:95%;
	height:500px;
	border:0px solid;
	float:left;
	margin:2%;
}
.md12 img {
	width:50%;
	height:30%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.md12-title {
	font-size:12;
	float:none;
	margin:1%;
}
.md11-title {
	font-size:20;
	float:none;
	margin:1%;
	text-align:center;
	font-weight:bold;
}
.bio {
	width:95%;
	height:400px;
	border:0px solid;
	margin:2%;
}
.bio img {
	width:50%;
	height:70%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.bio-title {
	font-size:24;
	float:none;
	line-height:50px;
	margin:1%;
	text-align:center;
}
.right-side {
	width:20%;
	min-height:500px;
	border:0px solid;
	float:left;
	margin:1%;
	background-color:#00203FFF;
}
.search {
	width:95%;
	height:30px;
	border:0px solid;
	float:left;
	margin:2%;
	background-color:#e5e5dc;
}
.search img {
	width:20%;
	height:25px;
	margin:1%;
	float:left;
}
.search-title {
	font-size:14;
	float:left;
	line-height:30px;
	margin:1%;
}
.right1 {
	width:95%;
	height:50px;
	border:0px solid;
	float:left;
	margin:2%;
}

.right1-title {
	font-size:12;
	float:none;
	margin:1%;
	color :white;
}
.footer {
	width:100%;
	height:30px;
	border:2px solid;
	line-height:30px;
	font-family:calibri;
	font-weight:bold;
	background-color:#6b7b8c;
}